@import '~node_modules/modern-normalize/modern-normalize.css';
p {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    @media screen and (min-width: 1280px) {
        font-size: 14px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $collor-bg;
}

.search-form {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    height: 70px;
    background: linear-gradient(0, hsla(0, 0%, 100%, 0), $collor-bg 5%);
    z-index: 1000;
}

button {
    font-weight: bold;
    text-transform: uppercase;
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.22);
    background-color: $collor-secondary;
    color: $collor-font-secondary;
}

button:hover {
    opacity: 0.8;
}

button:active {
    box-shadow: none;
}

input {
    width: 210;
    height: 49px;
    text-transform: uppercase;
    outline: none;
    color: $collor-font;
    background-color: $collor-main;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.22);
    border-radius: 4px;
    margin-right: 10px;
}

.gallery-wrap {
    margin-top: 70px;
}

.gallery-x {
    @media screen and (min-width: 480px) {
        width: 480px;
    }
    @media screen and (min-width: 1280px) {
        width: 1200px;
    }
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photo-card {
    border: 8px solid $collor-secondary;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.22);
    margin: 10px;
    background: $collor-secondary;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.photo-card:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.11);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.photo-card a {
    text-decoration: none;
}

img {
    border-radius: 4px;
    width: 300px;
    height: 180px;
    object-fit: cover;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    @media screen and (min-width: 480px) {
        width: 200px;
        height: 160;
    }
    @media screen and (min-width: 1280px) {
        width: 250px;
        height: 160;
    }
}

.info-item {
    font-weight: 200;
    color: $collor-main;
}

.end-gallery {
    text-align: center;
    width: 100%;
    color: $collor-font-secondary;
    margin-top: 10px;
}