.is-hidden {
    display: none;
}

.overflow {
    overflow-y: hidden;
    touch-action: none;
    -ms-touch-action: none;
    @media screen and (min-width: 768px) {
        padding-right: 17px;
    }
}